@import 'colors.css';

.page-wrap{
  width: 2000px;
  margin: 0 auto;
}

.levels-wrapper{
    position: absolute;
    top: 150px;
    left: 150px;
    width: 250px;
}

.accordion {
    background-color: var(--dark-blue);
    cursor: pointer;
    padding: 25px;
    width: 500px;
    border: grey;
    margin: 15px 15px 15px 15px;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
    float: top;
    color: white;
    font-family: Comfortaa;
}

.active, .accordion:hover {
    color: black;
    background-color: var(--light-blue);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    margin-left: 20px;
}
a.scale:link {
    text-decoration: none;
}

a.scale:visited {
    text-decoration: none;
}

a.scale:hover {
    color:#52658f;
}

a.scale:active {
    text-decoration: underline;
}

.sidebar-wrapper{
  position: absolute;
  left: 1350px;
  top: 675px;
  display: inline-block;
}

.sidebar-text {
  text-align: left;
  font-size: 20px;
  margin-left: 20px;
}

.badge-wrapper {
  position: absolute;
  right: 85px; bottom: 230px;
  height: 130px; width: 450px;
  float: left;
  display: inline-block;
  padding-top: 20px;
  background-color: var(--light-grey);
}

.badge {
  height: 75px; width: auto;
  margin-left: 17px;
  outline: none;
  display: inline-block;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
}

.modal-content {
    background-color: var(--faded-grey);
    margin: auto;
    padding: 0px 15px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

/* The Close Button */
.close {
    color: var(--grey);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.streak-wrapper {
  position: absolute;
  right:85px; bottom: 400px;
  padding-top: 10px;
  float:left;
  width: 450px; height: 100px;
  display: inline-block;
  background-color: var(--light-grey);
}
.announcements-wrapper{
  position: absolute;
  right: 85px; bottom: 60px;
  width: 450px;
  font-size: 20px;
  background-color: var(--light-grey);
}

#options-dropbtn{
  font-size: 35px;
  background-color:#88bbd6;
  background : none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}

#options-dropdown{
  float:left;
  width: 150px;
  /*margin-top: -520px;*/
  /*margin-right: -20px;*/
  /*width: 100px;*/
}

.options-dropdown-content {
    float: right;
    display: none;
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.options-select-button{
  background : none;
  float: right;
  border: none;
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}

.options-dropdown-content a {
    
    float: right;
    right:0;
    color: black;
    padding: 6px 8px 6px 25px;
    text-decoration: none;
    display: block;
    width: 65px;
}

#options-dropdown:hover .options-dropdown-content {
    display: block;
}

#options-dropdown:hover #options-dropbtn {
    background-color: #caebf2;
    color: black;
}

