@import 'colors.css';


h1, h2, h3, body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.nav {
    padding: 10px 0px;
    overflow: visible;
    background-color: var(--dark-blue);
    height: 50px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-right: 50px;
    float: left;
}

ul {
    list-style-type: none;
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 15px 20px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    /* background-color: #f9f9f9; */
    background-color: var(--light-blue)
}

.profile-button {
  display: none;
}

.profile-icon {
  position: absolute;
  height: 30px; width: auto;
  left: 1220px;
  top: 15px;
  display: none;
  /*margin-right: 200px;
  margin-top: 10px;*/
  /*border: 1px solid grey;*/
  /*border-radius: 50%;*/
  float: right;
}

.nav-right-container {
  display: inline;
  float: right;
  width: 400px;
}

.nav-right {
  text-align: center;
  text-align: left;
  outline: none;
  font-size: 16px;
  float: right;
}

.username {
  color: var(--grey);
  margin-right: 10px;
}

.profile-avatar {
  width: 40px;
  height: auto;
  margin-top: 5px;
}


.sign-out {
  width: 95px;
  margin-right: 100px;
  padding: 10px 10px;
  background-color: var(--light-blue);
  /*background-color: blue;*/
  cursor: pointer;
  border: grey;
  border-radius: 20px;
  transition: 0.4s;
  /* color: white; */
  text-align: center;
  margin-top: 6px;
}
.sign-out a:hover {
    background-color: #f9f9f9;
}

.nav .menu-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav li a {display: none;}
  .nav a.menu-icon {
    float: right;
    display: block;
  }
  .logo {
    margin-left: 45%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 50px;
    float: center;
  }
  .profile-icon {
    display: none;
  }
  .signout-link {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .nav.responsive {position: relative;}
  .nav.responsive li a {
    display: block;
  }
}

.contents-container {
  padding: 10px 100px;
}

#options-dropbtn{
  font-size: 35px;
  background-color:#88bbd6;
  background : none;
  border: none;
  margin-left: 100px;
  padding: 0;
  font-family: Comfortaa;
}

#options-dropdown{
  float:left;
  width: 150px;
}

.options-dropdown-content {
    position: relative;
    z-index: 2;
    float: right;
    display: none;
    background-color: #f1f1f1;
    width: 130px;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.options-select-button{
  background : none;
  float: right;
  border: none;
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
}

.options-dropdown-content a {
    float: right;
    right:0;
    color: black;
    padding: 6px 8px 6px 25px;
    text-decoration: none;
    display: block;
    width: 95px;
}

#options-dropdown:hover .options-dropdown-content {
    display: block;
}

#options-dropdown:hover #options-dropbtn {
    background-color: #caebf2;
    color: black;
}
