.page-wrap{
	width: 1000px;
	margin: 0 auto;
}

.scale-header-container {
	display: inline;
	text-align: left;
}

.scale-header {
	font-size: 50px;
  	float:center;
	margin-left:275px;
	margin-top: 45px;
}

#scale-notes {
	display: block;
    margin-left: auto;
    margin-right: 150px;
	margin-top: 350px;
	width: 800px; height: auto;
}


#scale-dropbtn{
	background-color:#88bbd6;
	padding: 20px;
  	font-size: 35px;
	color:white;
	border-radius: 10px;

}

#scale-dropdown{
	right: 100px;
	top: 115px;
	position: absolute;
	float: left;
	width: 140px;
}

.scale-dropdown-content {
	float: right;
    display: none;
    background-color: #f1f1f1;
    width: 225px;
    padding: 3px 4px 3px 4px;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.scale-dropdown-content a {
	float: right;
	right: 0;
    color: black;    
    text-decoration: none;
    display: block;
    width: 95px;
}

.scale-dropdown-content p:hover .level-select-button{
	background-color: #ddd;
}

#beginner-scale-container{
	height: 47px;
	width: 300px;
	vertical-align: text-bottom;
	text-align: center;
	/*float: right;*/
}

#intermediate-scale-container{
	height: 120px;
	width: 375px;
	vertical-align: text-bottom;
	float: left;
	text-align: center;
}

#expert-scale-container{
	height: 120px;
	width: 500px;
	vertical-align: text-bottom;
	float: left;
	text-align: center;
}

.other-level{
	visibility: hidden;
	height: 47px;
	width: 500px;
	vertical-align: text-bottom;
	float: right;
	position: absolute;
	right: 100px;
	top: 300px;
}

.selected-level{
	visibility: visible;
	background-color: white;
	border-width: 1px 1px 1px 1px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-color: black;
	z-index: 1;
	border-radius: 10px;
	position: absolute;
	right: 50px;
	top: 300px;
}

.scaleInBar {
	background : none;
	border: none;
	margin: 0;
	padding: 0;
	font-family: Comfortaa;
}

.selected{
	font-size: 47px;
	float: left;
}

.other {
	float: left;
	opacity: 0.5;
	font-size: 20px;
	position: relative;
	top:27px;
}

.divider{
	float: left;
	font-size: 47px;
}

.metronome-container {
	margin-right: 30%;
    display: inline;
	float: right;
	display: inline;
	vertical-align: center;
	margin-top: -35%;
}

.controls {
	float: left;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.play-pause {
	height: 30px;
	margin-bottom: 10px;
	margin-right: -70px;
}

.play-pause:hover {
	height: 40px;
	margin-bottom: 0px;
}

.rhythm-options {
	display: block;
	align-items: center;
	margin-right: -70px;
}

.rhythm {
	font-family: 'Comfortaa';
	font-size: 20px;
	color: white;
	background-color: #2f658c;
	margin: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
    outline: none;
	float: left;
	align-items: center;
	text-align: center;
}

.metronome {
	float: left;
	margin-top: -10px;
	align-items: center;
	vertical-align: center;
	justify-content: center;
}

.metronome-image {
    height: 225px;
    margin: 0px 20px;
}

.metronome-text {
	float: right;
	display: block;
	margin-right:20px;
	margin-top: 50px;
}

input[type=number] {
    outline: none;
    border: none;
}

h2 {
	font-size: 35px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	align-items: center;
	text-align: center;
}

.bpm {
	font-size: 60px;
	font-weight: bold;
	font-weight: 900;
	margin-left: 20px;
	margin-bottom: 5px;
	align-items: center;
	text-align: center;
}

.level-select-button{
	float: right;
	background : none;
	border: none;
	margin: 0;
	padding: 3px 4px 3px 4px;
	font-family: Comfortaa;
}

#drop-arrow{
	font-size: 40px;
	color:white;
}

#key-dropdown{
	left: 100px;
	top: 115px;
	position: absolute;

}

#key-dropbtn{
	background-color:#88bbd6;
	padding: 20px;
  	font-size: 35px;
	color:white;
	border-radius: 10px;
}

.dropbtn {
    background-color: white;
    color: black;

    border: none;
    font-family: Comfortaa;
}

.dropdown {
	text-align: left;

}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 4px 8px;
    margin: 20px;
    text-decoration: none;
    display: block;
}

.key-select-button{
	background : none;
	border: none;
	margin: 0;
	padding: 0;
	font-family: Comfortaa;
}


.dropdown-content a:hover {background-color: #ddd}

#key-dropdown:hover .dropdown-content {
    display: block;
}

#key-dropdown:hover #key-dropbtn {
    background-color: #caebf2;
		color: black;
}


#scale-dropdown:hover .scale-dropdown-content {
    display: block;
}



#scale-dropdown:hover #scale-dropbtn {
    background-color: #caebf2;
		color:black;
}
