.settings{
  margin-left: 500px;
  margin-top: 75px;
}
.change-metronome{
  margin-left: -75px;
  color: #88bbd6;
}
.account-settings{
  color: #88bbd6;
}
.timesig{
  font-weight: bold;
}
.avatar{
  height: 75px; width: auto;
  margin-right: 15px;
  outline: none;
  display: inline-block;
}
