h1, h2, h3, body {
    margin: 0;
    font-family: "Comfortaa";
}

.settings{
  width: 500px;
  margin-left: 200px;
  font-family: 'Comfortaa';
}

.change-metronome{
  /*margin-left: -75px;*/
  font-family: "Comfortaa";
  float: left;
  /*color: #88bbd6;*/
  font-size: 14px;
  font-weight: bold;
}

.account-settings{
  margin-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  width: 500px;
  float: left;
  color: #88bbd6;
  font-family: "Comfortaa";
}
.timesig{
  font-weight: bold;
}

.avatar-container {
  margin-bottom: 40px;
}

.avatar {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

.avatar-active {
  border: 3px solid var(--dark-blue);
  border-radius: 35px;
  height: 65px;
}

.metronome-pics{
  position: relative;
  right: 200px;
  top: 50px;
}

.metronome {
  width: 100px; height: auto;
  /*margin-top: 100px;*/
  margin-left: 70px;
  opacity: 0.4;
  outline: none;
  float: right;

}

.tooltip {
    position: relative;
    display: inline-block;
    /* padding-: 10px; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:  var(--dark-blue);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.answer {
  width: 20px;
  margin: 10px 0px;
  outline: none;
}

.mdl-layout__header-row {
  padding: 0;
}

.buffer {
  margin-bottom: 40px;
  top: 100px;
}
