.page-wrap{
	width: 1200px;
	margin: 0 auto;
}

#chart-box{
	width: 800px;
  height: 400px;
	background-color: white;
  box-shadow: 2px 2px 2px 2px grey;
	position: absolute;
	left: 75px; top: 320px;
}

.BPM-wrapper{
  position: absolute;
  left: 75px; top: 100px;
  width: 475px;
  font-size: 20px;
	text-align:center;
}

.Accuracy-wrapper{
  position: absolute;
  left: 75px; top: 185px;
  width: 475px;
  font-size: 20px;
	text-align:center;
}

.badge-wrapper {
	position: absolute;
  right:30px; top: 100px;
  height: 130px; width: 670px;
  float: left;
  display: inline-block;
	padding-top: 17px;
}

.key-select{
	position: absolute;
	top: 320px;
	left: 920px;
}
.scale-select{
	position: absolute;
	top: 320px;
	left: 1000px;

}
.progress-select{
	position: absolute;
	top: 320px;
	left: 1142px;
}
.go{
  position: absolute;
	background-color:#52658f;
  border: none;
	padding: 7px;
  font-size: 15px;
	font-family: Comfortaa;
	color: white;
	position: absolute;
	top: 365px;
	left: 920px;
}
.go:hover{
	background-color: #caebf2;
}

.key-select select {
	padding: 7px;
  border: 0.5px solid #52658f;
  font-family: Comfortaa;
  font-size: 15px;
}
.scale-select select {
	padding: 7px;
	border: 0.5px solid #52658f;
  font-family: Comfortaa;
  font-size: 15px;
}
.progress-select select {
	padding: 7px;
	border: 0.5px solid #52658f;
  font-family: Comfortaa;
  font-size: 15px;
}

.main-progress{
  position: absolute;
  top: 365px;
  left: 1050px;

}
a.main:link, a.main:visited {
    height: 24px;
    position: absolute;
    background-color: #88bbd6;
    width: 200px;
    color: white;
    padding: 7px 0px 0px 0px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.main:hover, a.main:active {
    background-color: #caebf2;
}
